# Dependencies
node_modules/

# Environment variables
.env

# Build files
/dist/
/build/

# IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 